*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins,sans-serif;
  text-decoration: none;
}
body{
  overflow-x: hidden;
}
.hero-header{
  width:100%;
  height: 100%;
  min-height: 100vh;
  background: #222;
}

.wrapper{
  width:1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}
header{
  padding: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.logo i{
  height: 45px;
  width:45px;
  background-color: #ff7801;
  border-radius: 50%;
  color:#fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
  
}
.logo .logo-text{
  font-size: 24px;
  font-weight: 500;
  color:#fff;
}
nav .togglebtn{
  width: 35px;
  height: 35px;
  position: absolute;
  top:45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  display: none;
}
nav .togglebtn span{
  display: block;
  background-color: #ff7801;
  margin: 5px 0px;
  width:100%;
  height:3px;
  transition: 0.3s;
  transition-property:  transform, opacity;

}
nav .navlinks {
  list-style-type: none;
}

nav .navlinks li {
  display: inline-block;
}

nav .navlinks li a {
  color: #e5e5e5;
  margin-right: 3.5rem;
  transition: color 0.3s; /* Adicionando uma transição suave para a mudança de cor */
}

nav .navlinks li a:hover {
  color: #ff7801; /* Altere 'yourDesiredColor' para a cor desejada */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:4rem;
}
.container .hero-pic{
  width: 420px;
  height: 420px;
  border-radius: 0,5%;
  overflow: hidden;
  border: 0.1px solid #000000;
  box-shadow: 3px 7px 25px rgb(255, 111, 0);
}
.hero-pic img{
  height: 100%;
  width:100%;
  transition: 0.5s;
}
.hero-pic img:hover{
  transform: scale(1.2);
}
.hero-text{
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.hero-text h5{
  color:#e5e5e5;
  font-size: 19px;
}
.hero-text h5 span{
  color:#ff7801;
  font-size: 16px;
}
.hero-text h1{
  color: #ffffff;
  font-size: 3rem;
}
.hero-text p{
  color:#e5e5e5;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.btn-group{
  margin:45px 0;
}
.btn-group .btn{
  border-color: #d5d5d5;
  color:#fff;
  background-color: #333;
  padding: 12px 25px;
  margin: 5px 0px;
  margin-right:7px;
  border-radius: 30px;
  border:2px solid #e5e5e5;
  box-shadow:  0 10px 10px 1px rgb(0 0 0 / 78%);
}
.btn.active{
  border-color: #ff7801;
}
.hero-text .social i{
  color: #e5e5e5;
  font-size: 18px;
  margin-right: 10px;
  transition: 0.5s;
}
.hero-text .social i:hover{
  color:#ff7801;
  transform: rotate(360deg);
}
/* Respnosiv design & displaying navbar for small screen */
@media(max-width:930px)
{
  nav .togglebtn{
      display: initial;
  }
  /* for toggle button**/
  .click {
      top:45px;
  }
  .click span{
      position: absolute;
      margin-top:12px
  }
  .click span:first-child{
      transform: rotate(-40deg);
  }
  .click span:nth-child(2)
  {
      opacity: 0;
      margin:0;
  }
  .click span:last-child{
      transform: rotate(45deg);
      top:0;
  }
  nav .navlinks{
      position: absolute;
      top:110px;
      right:-100%;
      bottom: 0;
      width: 60%;
      height: 100vh;
      background-color: #222;
      z-index: 3;
      box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
      transition: 0.5s;
      padding: 25px 0px;
  }
  nav .navlinks li{
      display: block;
  }
  nav .navlinks li a{
      display: block;
      margin-bottom: 15px;
      text-align: center;
  }
  nav .navlinks.open{
      right:0;
  }
}
@media(max-width:768px)
{
  .container{
      flex-direction: column;
      padding-top:2rem
  }
  .hero-text{
      padding:40px 0px;
  }
}

#projetos-tam {
  margin: 14px;
  font-size: 2.0rem;
  color: #f9f9f9;
  text-align: center;
}
.projects-container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.project {
  margin: 2px;
  padding: 5px;
  width: 340px;
  background-color: #000000;
  box-shadow: 10px 10px 10px 10px rgba(243, 241, 241, 0.999);
  color: #faf8f8;
}

.project img {
  width: 99%;
  height: 200px;
  object-fit: cover;
}

.project h3 {
  margin-top: 10px;
  color: #fffcfc;
}

.project p {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #fffdfd;
}

.project:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.project-card_link {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #f96e03;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.project-card_link:hover {
  background-color: #000000;
  background-color: #04ff00;
  color: white;
  cursor: pointer;
}

.card {
  position: relative;
  margin-right: 29px;
  margin-bottom: 30px;
  width: 380px;
  height: 293px;
  background-color: #4e4a46;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 7px #000000;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 45px;
  fill: #000000;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgb(255, 102, 0);
}

.card__content {
  position: absolute;
  top: 120;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
}

#projetos-mobile {
  margin: 14px;
  font-size: 1.0rem;
  color: #f9f9f9;
  text-align: center;
}

.projects-container-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-mobile {
  margin: 10px;
  width: 310px;
  height: 490px; /* Ajuste a altura conforme necessário */
  background-color: #000000;
  box-shadow: 0 0 0 7px #000000;
  color: #faf8f8;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  position: relative;
}

.card-mobile:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgb(255, 102, 0);
}

.card-mobile img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px 10px 10px 0;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-mobile:hover img {
  transform: scale(1.1);
}

.card-mobile .card__content-mobile {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: calc(100% - 120px);
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-mobile:hover .card__content-mobile {
  transform: rotateX(0deg);
}

.card-mobile .card__title-mobile {
  margin: 0;
  font-size: 17px;
  color: #333;
  font-weight: 700;
}

.card-mobile .card__description-mobile {
  margin: 10px 0 0;
  font-size: 14px;
  color: #000000;
  line-height: 1.1;
}

.card-mobile .card__link-mobile {
  display: block;
  margin-top: 1px;
  padding: 1px;
  background-color: #f96e03;
  color: #ffffff;
  border-radius: 1px;
  text-align: center;
  text-decoration: none;
  font-weight:bold;
  max-width: 100%; /* Define a largura máxima */
}

.card-mobile .card__link-mobile:hover {
  background-color: #000000;
  background-color: #04ff00;
  color: white;
  cursor: pointer;
}


body-formulario{
  overflow-x: hidden;
}

.contato-formulario h1 {
  margin-top: 0;
  color: #ffffff;  
  margin-bottom: 10px;
  justify-content: space-between;
 }

.contato-formulario {
  max-width: 400px;
  margin: 20px auto;
  padding: 1px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: transparent;
  background-color: transparent;
  border: none;
}

.contato-formulario input, textarea {
  display: block;
  margin-bottom: 10px;
  color: #000000;
}

.contato-formulario label{
  color: white;
}

.contato-formulario input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.contato-formulario input[type="submit"] {
  background-color: #ff9d00;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.contato-formulario input[type="submit"]:hover {
  background-color: #1aff00;
}